:root {
  --secondary-color: 75, 113, 42; 
  --main-color: 255, 255, 235;
  --accent-color: 15, 23, 42;
  --text-white: #ffffff;
  --background: rgb(255,255,210);
  --color-header-border: rgba(255, 255, 255, 0.1);
  --color-nav-link: #e2e8f0;
  --color-hover: #4b712a;
  --color-shop-btn-bg: #ffffff;
  --color-shop-btn-hover: rgb(75, 113, 42);
  --color-shop-btn-text: #000000;
  --color-shop-btn-shadow: rgba(0, 0, 0, 0.4);

  --padding-app: 16px 40px;
  --button-border-radius: 10px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(var(--main-color));
  color: var(--text-white);
  font-family: system-ui, -apple-system, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

